/* mobile desigh */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    }

header{
    margin-top: 48px;
}

.avatar-desktop{
    display: none;
}

.avatar{
    height: 153px;
    width: 414px;
    margin-top: 56px;
    }

.avatar-div{
    display: flex;
    justify-content: center;
    width: 375px;
    overflow: hidden;
}    

section1{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

h1{
    height: 88px;
    width: 327px;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
    color: #28283D;
}

p{
    height: 78px;
    width: 327px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
    text-align: center;
    color: #87879D;
    margin-bottom: 32px;
    }

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

.download{
    height: 58px;
    width: 193px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border-radius: 29px;
    background-color: #4D96A9;
    color: #FFFFFF;
    border: none;
}

.download:hover{
    background-color: #71C0D4;
    cursor: pointer;
}

span{
    color:#8FE3F9;
}

.about{
    height: 58px;
    width: 139px;
    border-radius: 29px;
    background-color: #855FB1;
    border: none;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: white;
}

.about:hover{
    background-color: #B18BDD;
    cursor: pointer;
}

.line{
    height: 84px;
    width: 1px;
    border: 1px solid #87879D;
    background-color: #87879D;
    border: none;
    opacity: 25%;
    margin-top: 74px;
 }

.number{
    height: 56px;
    width: 56px;
    border-radius: 29px;
    border:  #87879D;
    color: #87879D;
    background: linear-gradient(0deg, rgba(135, 135, 157, 0.25), rgba(135, 135, 157, 0.25)),
                linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

.grid-container{
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:14px;
    margin-top: 70px;
}

.grid-element{
    max-width: 150px;
    border-radius: 8px;
}

section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    height: 26px;
    width: 275px;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
    margin-top: 56px;
    text-align: center;
}

.p2{
    margin-top: 32px;
}

h3{
    height: 72px;
    width: 327px;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color: #28283D;
    margin-top: 6px;
    margin-bottom: 12px;
    text-align: center;
}

.zero-two{
    margin-bottom: -26px;
    z-index: 3;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/mobile/image-footer.jpg);
    background-size: cover;
    width: 100%;  
    }

.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    }    

.overlay{
    position: relative;
    width: 100%;
    } 
  
.overlay::before{
    background-color: #4D96A9;
    position: absolute;
    content: '';
    inset: 0;
    opacity: 0.75;
}  

h4{
    height: 72px;
    width: 327px;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    color: #FAFAFA;
    margin-top: 70px;
}

.p-footer{
    color: #FAFAFA;
    margin-top: 24px;
    margin-bottom: 32px;
}

.footer-button{
    background-color: #855FB1;
    margin-bottom: 30px;
}

.footer-button:hover{
    background-color: #B18BDD;
    cursor: pointer;
}

.span-footer{
    color: #D9B8FF;
}

/* tablet design */

@media screen and (min-width: 768px){

    header{
        margin-top: 51px;
    }
   
    .avatar{
        height: 303px;
        width: 820px;     
        margin-top: 66px;
        }
    
    .avatar-div{
         width: 760px;
        }    
    
    section1{
        margin-top: 70px;
        }    
    
    h1{
        height: 96px;
        width: 339px;
        font-size: 48px;
        line-height: 48px;
        }
    
    p{
        height: 52px;
        width: 457px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        }
    
    .buttons{
        flex-direction: row;
        }
        
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
        gap: 8px;
        margin-top: 70px;
    }
    
    .grid-element{
        max-width: 165px;
    }
          
    h3{
        height: 88px;
        width: 445px;
        font-size: 40px;
        line-height: 44px;             
    }

    .p2{
        height: 78px;
        width: 573px;
    }
    
       
    footer{
        background-image: url(./assets/tablet/image-footer.jpg);
        }  
    
    h4{
        height: 88px;
        width: 457px;
        font-size: 40px;
        line-height: 44px; 
        margin-top: 80px;     
    }
    
    .p-footer{
        height: 52px;
        width: 573px;
        margin-top: 16px;      
    }

    .footer-button{
        margin-top: 20px;
        margin-bottom: 50px;
    }

}


/* desktop design */
      
@media screen and (min-width: 960px){

    header{
        margin-top: 83px;
    }
    
    .avatar-desktop{
        display: inline;
    }
    
    .avatar{
      display: none;
    }
    
    .avatar-div-desktop{
         display: flex;
         height: 358px;
         width: 1405px;
         align-items: center;
         justify-content: center;
         gap: 70px;
         margin-top: 30px;
         width: 1404px;
         height: 100%;
         overflow-x: hidden;
        }    

    .avatar-desktop{
        margin-top: -230px;
        
        }

    h1{
        height: 128px;
        width: 445px;
        font-size: 64px;
        line-height: 64px;        
        }
    
    p{
        height: 52px;
        width: 540px;
        font-size: 18px;
        line-height: 26px;     
        }
          
    .grid-container{
        margin-top: 100px;
        justify-content: center;
        }
    
    .grid-element{
        max-width: 265px;
        }

    .p2{
        height: 78px;
        width: 540px;   
        font-weight: 500;
        line-height: 26px; 
        }

    .footer-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 70px 50px 20px 70px;
        }    
    
       
    footer{
        background-image: url(./assets/desktop/image-footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        }  
    
    h4{
        height: 88px;
        width: 340px;
        text-align: left;
        margin-top: 0px;
        }
    
    .p-footer{
        height: 78px;
        width: 350px;  
        text-align: left;          
    }

}
